.notify-avatar {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  margin-right: 0.8rem;
}

.notify-avatar img {
  width: 100%;
  height: 100%;
}
.notify-images {
  position: absolute;
  right: -1.5rem;
  width: 2.75rem;
  height: 2.75rem;
  margin-right: 0.5rem;
}
.notify-images img {
  max-width: 100%;
  height: auto;
}
.notify-content {
  display: inline;
  word-wrap: break-word;
  color: #262626;
  font-size: 0.9rem;
  line-height: 1.1rem;
  width: 14rem;
}
.notify-username {
  font-weight: 500;
  margin-right: 0.2rem;
  color: #262626;
}
.notify-username:hover {
  color: #262626;
}

.notify-follow-btn {
  height: 2rem;
  width: 4rem;
  background-color: #3696f9;
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  position: absolute;
  right: -1.5rem;
  margin-right: 0.5rem;
}
.notify-follow-btn:hover {
  background-color: #3578e5;
}
.notify-unfollow-btn {
  height: 2rem;
  width: 4rem;
  background-color: #ececec;
  font-size: 0.9rem;
  font-weight: 600;
  color: black;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  position: absolute;
  right: -1.5rem;
  margin-right: 0.5rem;
}
.notify-unfollow-btn:hover {
  background-color: #dbdbdb;
}
